<h1>{{ titulo }}</h1>
<br />
<br />
<h2>¿Que juguetes te gustaria encontrar en nuestra tienda?</h2>
<br />
<br />
<input
  class="form-control form-control-lg"
  type="text"
  aria-label=".form-control-lg example"
  [(ngModel)]="producto"
  class="w-50 p-3"
/>
<br />
<br />

<p>{{producto}}</p>

<button
  type="button"
  class="btn btn-outline-secondary"
  (click)="guardarProducto()"
>
  Guardar producto
</button>

<br />
<br />

<hr />

<div class="position-relative">
  <ul class="position-absolute top-0 start-50 translate-middle-x">
    <li *ngFor="let producto of catalogo, let i = index">
      {{ i }} - {{ producto}}
      <button type="button" class="btn button" (click)="borrarProducto(i)">
        Borrar
      </button>
    </li>
  </ul>
</div>
