<h1>{{ titulo }}</h1>
<br />
<br />
<div class="position-relative">
  <ul class="position-absolute top-0 start-50 translate-middle-x">
    <li>
      <!-- <img src="https://unsplash.com/photos/DoK5qEy2L60" width="300px" /> -->
      <a href="galletas.html">Figuras de Accion</a>
    </li>
    <li>
      <!-- <img src="https://unsplash.com/photos/SRYAhnTHSck" width="300px" /> -->
      <a href="helados.html">Muñecas</a>
    </li>
    <li>
      <!-- <img src="https://unsplash.com/photos/MKBoRZEGeiM" width="300px" /> -->
      <a href="cupcakes.html">Juegos de Mesa</a>
    </li>
    <li>
      <!-- <img src="https://unsplash.com/photos/diUixdrqh0Q" width="300px" /> -->
      <a href="pasteles.html">Funkos</a>
    </li>
    <li>
      <!-- <img src="https://unsplash.com/photos/TGrx5f8UcZM" width="300px" /> -->
      <a href="brownies.html">Videojuegos</a>
    </li>
    <li>
      <!-- <img src="ihttps://unsplash.com/photos/sSLi0wraDmQ" width="300px" /> -->
      <a href="cheescakes.html">Control Remoto</a>
    </li>
  </ul>
</div>
